<div id="body">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:  hsl(219, 59%, 32%);">
        <div class="container">
            <h3 class="navbar-brand" style="color: white;"><img src="/assets/img/logo.png" height="30px"
                    class="mx-3">Nagarro Mart</h3>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="d-flex ">
            <div class="d-flex">
                <input  type="text" [(ngModel)]="searchText"  placeholder="🔍Search" >
            </div>
            <div class="text-right d-flex mx-3">
                <a class="nav-link" style="color: white;" routerLink="/customer">Home</a>
                <a class="nav-link" style="color: white;" routerLink="/customer/history">Orders</a>
            </div>
        </div>
        <div class="text-right">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto my-1 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" style="color: white;" id="navbarScrollingDropdown"
                            role="button" data-bs-toggle="collapse" data-bs-target="#target" aria-controls="target"
                            aria-expanded="false">
                            Welcome {{customerName}}
                        </a>
                        <ul class="dropdown-menu" id="target" aria-labelledby="navbarScrollingDropdown">
                            
                            <li><button class="dropdown-item" (click)="loggedOut()">Logout</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container text-center mt-5" *ngIf="!cartBtn">
        <h3>Cart is Empty!</h3>
    </div>
    <div class="container-fluid" *ngIf="cartBtn">
        <div class=" container-fluid mt-2">
            <h2 style="font-style: italic;font-family: Arial, Helvetica, sans-serif;"><strong>Cart</strong></h2>
            <p class="text-danger">*To change Quantity, Edit Quantity and Click on Update Button.</p>
        </div>
        <div>
            <hr>
        </div>
        <table class="table table-hover table-info  table-striped">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col"> Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of items | filter:searchText">
                    <td>{{row.productName}}</td>
                    <td>₹{{row.productPrice}}</td>
                    <td>{{row.productDiscount}}%</td>
                    <td>Selected Quantity: {{row.quantity}}
                        <br>
                        <label>Update QTY:</label>
                        <form [formGroup]="cartForm">
                            <select formControlName="quantity" required>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </form>
                    </td>
                    <td>
                        <button class="btn btn-info mx-2" (click)="updateCart(row)">Update</button>&nbsp;
                        <button class="btn btn-danger mx-2" (click)="deleteCart(row)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-9">
                Total Price : ₹{{total|number}}
            </div>
            <div class="col-9">
                Your Savings: ₹{{saving|number}}
            </div>
            <div class="row mb-5" >
                <div class="col-9"><strong>Total Amount: ₹{{totalPrice|number}} </strong> </div>
                <div class="offset col-2"><button type="button" class="btn btn-primary"
                        data-bs-toggle="modal" *ngIf="checkBtn" data-bs-target="#exampleModal">Checkout <i
                            class="fa fa-angle-right"></i></button></div>

            </div>

        </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <h5 class="text-danger">*Deliver to:</h5>
                    </div>
                    <table class="table" *ngFor="let row of address">
                        <tr>
                            <td>Address:</td>
                            <td>{{row.address}}</td>
                        </tr>
                        <tr>
                            <td>City:</td>
                            <td>{{row.city}}</td>
                        </tr>
                        <tr>
                            <td>Zipcode:</td>
                            <td>{{row.zipcode}}</td>
                        </tr>
                        <tr>
                            <td>Mobile:</td>
                            <td>{{row.phonenumber}}</td>
                        </tr>
                    </table>
                    <div>
                        <h5 class="text-danger">*Enter New Address</h5>
                    </div>
                    <form [formGroup]="formValue">
                        <div class="mb-3">
                            <label>Enter Address</label>
                            <input formControlName="address" type="text" class="form-control"
                                placeholder="Enter Address">
                            <span class="text-danger"
                                *ngIf="formValue.controls['address'].dirty && formValue.hasError('required','address')">*Address
                                is required</span>
                        </div>
                        <div class="mb-3">
                            <label>Enter City</label>
                            <input formControlName="city" type="text" class="form-control" placeholder="Enter City">
                            <span class="text-danger"
                                *ngIf="formValue.controls['city'].dirty && formValue.hasError('required','city')">*City
                                is required</span>
                        </div>
                        <div class="mb-3">
                            <label>Enter State</label>
                            <input formControlName="state" type="text" class="form-control" placeholder="Enter State">
                            <span class="text-danger"
                                *ngIf="formValue.controls['state'].dirty && formValue.hasError('required','state')">*State
                                is required</span>
                        </div>
                        <div class="mb-3">
                            <label>Enter Country</label>
                            <input formControlName="country" type="text" class="form-control"
                                placeholder="Enter Country">
                            <span class="text-danger"
                                *ngIf="formValue.controls['country'].dirty && formValue.hasError('required','country')">*Country
                                is required</span>
                        </div>
                        <div class="mb-3">
                            <label>Enter Zipcode</label>
                            <input formControlName="zipcode" type="number" class="form-control"
                                placeholder="Enter Zipcode">
                            <span class="text-danger"
                                *ngIf="formValue.controls['zipcode'].dirty && formValue.hasError('required','zipcode')">*Zipcode
                                is required</span>
                        </div>
                        <div class="mb-3">
                            <label>Enter Phone Number</label>
                            <input formControlName="phonenumber" type="number" class="form-control"
                                placeholder="Enter Phone Number">
                            <span class="text-danger"
                                *ngIf="formValue.controls['phonenumber'].dirty && formValue.hasError('required','phonenumber')">*PhoneNumber
                                is required</span>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    <button type="button" [disabled]="!formValue.valid" class="btn btn-primary"
                        (click)="addAdress()">Update</button>
                    <button type="button" *ngIf="orderBtn" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#example" (click)="placeOrder()">Place Order</button>
                </div>
            </div>
        </div>
    </div>




    <footer class="text-center text-lg-start text-white mt-5 p-2" style="background-color:  hsl(218, 41%, 35%)">

        <div class="text-center">
            © 2022 Copyright: Nagarro Mart
        </div>
    </footer>

</div>
<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h1>✅</h1>
                <h1 style="font-family:Arial, Helvetica, sans-serif">Order Placed Successfully</h1>
                <h2 style="font-family:Arial, Helvetica, sans-serif">Thank You For Shopping</h2>

            </div>

        </div>
    </div>
</div>