footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: grey;
}
#body{
    height: 100%;
    
    background-image:url("/assets/img/custome.jpg");
}
.table {
    border-collapse: separate;
    border-spacing:0 10px;
}